
			<div class="container">
				<form id="contactForm">
					<div class="form-row">
                       <div  class="col-sm">
                            <div id="name-form" class="form-group">
                                <label for="exampleInputUsername">Your name *</label>
                                <input type="text" class="form-control" id="name" placeholder=" Enter Name *">
                                <p id="name-feedback" class=""></p>
                            </div>
                            <div id="email-form" class="form-group">
                                <label for="email">Email Address *</label>
                                <input type="email" class="form-control" id="email" placeholder=" Enter Email *">

                                <p id="email-feedback" class=""></p>
                                <small id="email-additional-feedback" class="form-text"></small>
                            </div>	
                            <div class="form-group">
                                <label for="telephone">Phone No.</label>
                                <input type="tel" class="form-control" id="phone" placeholder=" Enter 10-digit phone no.">
                            </div>
                        </div>
					
			  		
			  		    <div class="col-sm">
                                <div class="form-group">
                                    <label for ="description"> Message</label>
                                    <textarea  class="form-control py-5" id="info" placeholder="Enter Your Message"></textarea>
                                </div>
                                <button type="submit" class="btn btn-block btn-lg btn-primary"></i>  Submit Info</button>
                            </div>
					    
                    </div>
                    
				</form>
                </div>


     

