
			<div class="container">
				<form id="contactForm">
					<div class="form-row">
                       <div  class="col-sm">
                            <div id="name-form" class="form-group">
                                <h3 class="text-left" for="exampleInputUsername">Your name</h3>
                                <input type="text" class="form-control" id="name" placeholder=" Enter Name">
                                <p id="name-feedback" class=""></p>
                            </div>
                            <div id="email-form" class="form-group">
                                <h3 class="text-left" for="email">Email Address</h3>
                                <input type="email" class="form-control" id="email" placeholder=" Enter Email">

                                <p id="email-feedback" class=""></p>
                                <small id="email-additional-feedback" class="form-text"></small>
                            </div>	
                            <div class="form-group">
                                <h3 class="text-left" for="telephone">Phone No.</h3>
                                <input type="tel" class="form-control" id="phone" placeholder="Enter 10-digit phone no.">
                            </div>
                        
					
			  		
			  		    <div class="col-sm px-0">
                                <div class="form-group">
                                    <h3 class="text-left" for ="description"> Message</h3>
                                    <textarea  class="form-control" id="info" placeholder="Enter Your Message" rows="8" columns="50"></textarea>
                                </div>
                                <button type="submit" class="btn btn-block btn-lg btn-dark">Send Message</button>
                            </div>
					    
                    </div>
                    
				</form>
                </div>


     

