<nav class="navbar navbar-light bg-light sticky-top">
  <div class="container navbar-expand-lg" id="navbar-row-0">
    <div class="text-left navbar-brand"><h3>Ginni Lee</h3></div>
    <button class="navbar-toggler float-right" type="button" data-toggle="collapse" data-target="#navbar-list-0" aria-controls="navbar-list-0" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse float-md-right" id="navbar-list-0">
      <ul class="nav nav-pills nav-fill flex-column flex-sm-row">
        <li class="nav-item flex-sm-fill text-sm-center">
          <a class="nav-link" href="#">Top</a>
          </li>
        <li class="nav-item flex-sm-fill text-sm-center">
          <a class="nav-link" href="#about">About</a>
          </li>
        <li class="nav-item flex-sm-fill text-sm-center">
          <a class="nav-link home-search" href="#">Home Search</a>
          </li>
        <li class="nav-item flex-sm-fill text-sm-center">
          <a class="nav-link" href="#testimonials">Testimonials</a>
        </li>
        <li class="nav-item flex-sm-fill text-sm-center">
          <a class="nav-link" href="#call-to-action">Contact</a>
        </li>
      </ul>
    </div>
  </div>
  <div class="justify-content-center container justify-content-between" id="navbar-row-1">
        
        <div class="text-left navbar-brand"><h3>Ginni Lee</h3></div>
        <img src="assets/img/remax-logo.png" class="navbar-brand img-fluid w-25">
        <button class="navbar-toggler d-md-none" type="button" data-toggle="collapse" data-target="#navbar-list-2" aria-controls="navbar-list-2" aria-expanded="true" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
          
        
        
      </div>
      <div class="container" id="navbar-row-2">
      <div class="navbar-collapse collapse show" id="navbar-list-2">
        <ul class="nav nav-pills nav-fill flex-column flex-sm-row">
          <li class="nav-item flex-sm-fill text-sm-center">
            <a class="nav-link" href="#">Top</a>
            </li>
          <li class="nav-item flex-sm-fill text-sm-center">
            <a class="nav-link" href="#about">About</a>
            </li>
          <li class="nav-item flex-sm-fill text-sm-center">
            <a class="nav-link home-search" href="#search">Home Search</a>
            </li>
          <li class="nav-item flex-sm-fill text-sm-center">
            <a class="nav-link" href="#testimonials">Testimonials</a>
          </li>
          <li class="nav-item flex-sm-fill text-sm-center">
            <a class="nav-link" href="#call-to-action">Contact</a>
          </li>
        </ul>
      </div>
    </div>
</nav>