<nav class="navbar navbar-light bg-light sticky-top">
      <div class="container" id="navbar-row-0">
        <ul class="nav nav-pills nav-fill" id="navbar-list">
          <li class="nav-item">
            <img class="w-50" src="assets/img/remax-logo.png">
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Top</a>
            </li>
          <li class="nav-item">
            <a class="nav-link" href="#about">About</a>
            </li>
          <li class="nav-item">
            <a class="nav-link home-search" href="#">Home Search</a>
            </li>
          <li class="nav-item">
            <a class="nav-link" href="#testimonials">Testimonials</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#call-to-action">Contact</a>
          </li>
        </ul>
      </div>
      {{!-- <div class="container" id="navbar-row-1">
        <a class="navbar-brand" href="#">Ginni Lee</a>
        <a class="btn btn-primary" href="#">Sign In</a>
      </div> --}}
      <div class="justify-content-center container justify-content-between" id="navbar-row-2">
        
        <div class="top-left"><h3>Ginni Lee</h3></div>
          
        <img src="assets/img/remax-logo.png">
        
      </div>
      <div class="container" id="navbar-row-3">
        <ul class="nav nav-pills nav-fill" id="navbar-list">
          <li class="nav-item">
            <a class="nav-link" href="#">Top</a>
            </li>
          <li class="nav-item">
            <a class="nav-link" href="#about">About</a>
            </li>
          <li class="nav-item">
            <a class="nav-link home-search" href="#search">Home Search</a>
            </li>
          <li class="nav-item">
            <a class="nav-link" href="#testimonials">Testimonials</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#call-to-action">Contact</a>
          </li>
        </ul>
      </div>
    </nav>