<!-- Navigation -->
    {{>navbar}}

    <!-- Masthead -->
    {{>home-search}}

    {{!-- Search Modal --}}
    <div class="modal" id="widget-modal" data-keyboard="true">
      <div class="modal-header">
        <h5 class="modal-title"></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <iframe id="widget-iframe" src="https://widget.proxiopro.com/CRMLS/PropertyResult.aspx"></iframe>
    </div>

    <!-- Icons Grid -->
    {{!-- <section class="features-icons bg-light text-center">
      <div class="container">
        <div class="row">
          <div class="col-lg-4">
            <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
              <div class="features-icons-icon d-flex">
                <i class="icon-screen-desktop m-auto text-primary"></i>
              </div>
              <h3>Fully Responsive</h3>
              <p class="lead mb-0">This theme will look great on any device, no matter the size!</p>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
              <div class="features-icons-icon d-flex">
                <i class="icon-layers m-auto text-primary"></i>
              </div>
              <h3>Bootstrap 4 Ready</h3>
              <p class="lead mb-0">Featuring the latest build of the new Bootstrap 4 framework!</p>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="features-icons-item mx-auto mb-0 mb-lg-3">
              <div class="features-icons-icon d-flex">
                <i class="icon-check m-auto text-primary"></i>
              </div>
              <h3>Easy to Use</h3>
              <p class="lead mb-0">Ready to use with your own content, or customize the source files!</p>
            </div>
          </div>
        </div>
      </div>
    </section> --}}

    <!-- Image Showcases -->
    {{>showcase}}

    <!-- Testimonials -->
    <section id="testimonials" class="testimonials text-center bg-light">
      <div class="container">
        <h2 class="mb-5">What people are saying...</h2>
        <div class="row">
          <div class="col-lg-3">
            <div class="testimonial-item mx-auto mb-5 mb-lg-0">
              {{!-- //<img class="img-fluid rounded-circle mb-3" src="assets/img/testimonials-1.jpg" alt=""> --}}
              {{!-- <h5>Keith S.</h5> --}}
              <p class="font-weight-light mb-0">"If you are looking for a knowledgeable, hardworking, patient Realtor who can get the job done, look no further.  Ginni Lee did a tremendous job for us and we are thankful.  We will use her again. "</p>
            </div>
          </div>
          <div class="col-lg-3">
            <div class="testimonial-item mx-auto mb-5 mb-lg-0">
              {{!-- <img class="img-fluid rounded-circle mb-3" src="assets/img/testimonials-2.jpg" alt=""> --}}
              {{!-- <h5>User 44376</h5> --}}
              <p class="font-weight-light mb-0">"Ginni has helped us with 4 transactions.  Her attention to all the details, including preparing the properties to sell quickly, negotiations, escrow, title, inspections, repairs made every transaction a smooth one.  We happily recommend her. "</p>
            </div>
          </div>
          <div class="col-lg-3">
            <div class="testimonial-item mx-auto mb-5 mb-lg-0">
              {{!-- <img class="img-fluid rounded-circle mb-3" src="assets/img/testimonials-3.jpg" alt=""> --}}
              {{!-- <h5>RS</h5> --}}
              <p class="font-weight-light mb-0">"I contacted Ginni Lee for the very difficult task of selling our home in record time, at the price we wanted, but were not sure we could reach.  Ginni worked tirelessly on getting the house presentable, marketing, being available at any time to answer all our questions, hold open houses, meet prospective buyers, communicate all matters quickly to us via phone, text and email.  She brought us a buyer much faster than we thought could be done.  We were able to sell our home in record speed, at above our asking price.  She did an amazing job, and we will not hesitate to use her again."</p>
            </div>
          </div>
           <div class="col-lg-3">
            <div class="testimonial-item mx-auto mb-5 mb-lg-0">
              {{!-- <img class="img-fluid rounded-circle mb-3" src="assets/img/testimonials-3.jpg" alt=""> --}}
              {{!-- <h5>User 1T00DOs</h5> --}}
              <p class="font-weight-light mb-0">"Having recently been transferred to the South Bay, we began our search for the perfect home.  We met Ginni at an open house and began our journey getting to know all about the surrounding areas.  We must have looked at 20 properties.  By the time we were ready to make an offer, we really knew we had found the property for us.  Ginni guided us through every stage of the transaction with knowledge and ease, and we were able to secure the house of our dreams. 
"</p>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- Call to Action -->
    <section id="call-to-action" class="call-to-action text-white text-center">
      <div class="overlay"></div>
      <div class="container">
        <div class="row">
          <div class="col-xl-9 mx-auto">
            <h2 class="mb-4 pt-5">Contact Ginni Lee Now!</h2>
          </div>
          <div class="col-md-10 col-lg-8 col-xl-7 mx-auto">
            {{> contact-form}}            
          </div>
        </div>
      </div>
    </section>

    <!-- Footer -->
    <footer class="footer bg-light">
      <div class="container">
        <div class="d-md-flex justify-content-center">
          <div class="m-3 text-center">
            <img src="/assets/img/ginni-lee.jpg" alt="Ginni Lee Profile Photo" width="100px">
          </div>
          <div class="mr-md-auto align-self-center text-center text-lg-left">
            Ginni Lee
            <br>
            <span class="font-weight-light">(310) 503-8204</span>
            <br>
            <span class="font-weight-light">ginnilee1@gmail.com</span>
            <br>
            <span class="font-weight-light">DRE# 01459544</span>
          </div>
          <div class="my-3 align-self-center text-center">
            <img src="/assets/img/remax-logo2.png" alt="Remax Logo" width="150px">
          </div>
        </div>
        <div class="row">
          <div class="col-lg-6 h-100 text-center text-lg-left my-auto">
            <ul class="list-inline mb-2">
              <li class="list-inline-item">
                <a href="#about">About</a>
              </li>
              <li class="list-inline-item">&sdot;</li>
              <li class="list-inline-item">
                <a href="#call-to-action">Contact</a>
              </li>
              <li class="list-inline-item">&sdot;</li>
              <li class="list-inline-item">
                <a href="#">Terms of Use</a>
              </li>
              <li class="list-inline-item">&sdot;</li>
              <li class="list-inline-item">
                <a href="#">Privacy Policy</a>
              </li>
            </ul>
            <p class="text-muted small mb-4 mb-lg-0">&copy; Your Website 2018. All Rights Reserved.</p>
          </div>
          <div class="col-lg-6 h-100 text-center text-lg-right my-auto">
            <ul class="list-inline mb-0">
              <li class="list-inline-item mr-3">
                <a href="#">
                  <i class="fab fa-facebook fa-2x fa-fw"></i>
                </a>
              </li>
              <li class="list-inline-item mr-3">
                <a href="#">
                  <i class="fab fa-twitter-square fa-2x fa-fw"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="#">
                  <i class="fab fa-instagram fa-2x fa-fw"></i>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </footer>