
#navbar-list{
  width: 100%;
}
#navbar-row-0{
  display: none
}

#widget-modal{
  background-color: white;
  max-width: 800px;
  max-height: 786px;
  margin: auto;
  padding: 10px !important;
  overflow: hidden;
  border-radius: 10px;
}

iframe{
  position: relative;
  top: -14px;
  width:100%;
  height: 828px;
  border: none;
  background: url("../assets/img/lg.wave-ball-preloader.gif");
  background-repeat: no-repeat;
  background-position: center;
}

.advanced-search{
  display: none;
}

.showcase-text-edit{
  padding-top: 2rem !important;
  border-top: 1px solid black;
}

.showcase-img-edit{
  height: 300px;
}